<%- include('./base/header.ejs') %>
 <%- include('./base/nav.ejs') %>  

<h1 style="display:flex;justify-content:center;align-items:center;margin:0;">
  Welcome Student
</h1>

<div class="col">
      <div class="p-3 border bg-light text-center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP32e2uAOWU9EWeHV0fvpecRzOfYMZ8dLyzw&s"
               alt="Student Logo"
               class="w-24 h-24 rounded-full shadow-md mb-4 object-cover">
        </a>

     <div class="about-us">
      <h2>About us</h2>
      <p>What we are and our history</p>
    
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
          
 
 


<%- include('./base/footer.ejs') %>
