<%- include('./base/header.ejs') %>
 <%- include('./base/nav.ejs') %>  

<h1 style="display:flex;justify-content:center;align-items:center;margin:0;">
  Welcome Student
</h1>

<div class="col">
      <div class="p-3 border bg-light text-center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP32e2uAOWU9EWeHV0fvpecRzOfYMZ8dLyzw&s"
               alt="Student Logo"
               class="w-24 h-24 rounded-full shadow-md mb-4 object-cover">
        </a>

     <div class="about-us">
      <h2>About us</h2>
      <p>R.D.Engineering College is one of the premier institution in the field of technical education. This self-financing institution is approved by All India Council for Technical Education, New Delhi , recognized by the Government of Uttar Pradesh and affiliated to Uttar Pradesh Technical University, Lucknow. This Institute aims at imparting technical knowledge and broad vision to the budding technocrats of future and relies on dedication, skills and experience of outstanding faculty and staff. All round personality development of students and to impart them meaningful education are the key objectives of this Institute.</p>

       <h2>Apply for Admission</h2>
<h4>
2025 Admissions enquiry are now open</h4>
<p>
With the vision to create an ambience in which new ideas, research and development flourish, out of which the leaders and innovators of tomorrow will emerge and the mission to impart knowledge in the fields of technology, management, and other allied areas that will serve the country and the world in the upcoming times – we invite you to learn and grow at RD Engineering College. </p>
<div>
  <a href="https://rdec.ac.in/apply-for-admission/"style="color:green;">Apply Admission</a>
</div>
          
 
 


<%- include('./base/footer.ejs') %>
